
<a action="/work" method="GET" href="/work" class="center" style="text-decoration: none">Work List</a>
<!-- above on clicking will redirect us to the work page -->


<footer>
  Created with ❤ by Abhishek Singh
</footer>



</body>
</html>
